@{
    ViewData["Title"] = "Home Page";
}
@*
<body class="bg-image"
      style="background-image: url('https://www.meritalk.com/wp-content/uploads/2016/06/EHR-2.jpg'); background-repeat: repeat;
  background-position: right top; ">
    
</body>

*@