@{
    ViewData["Title"] = "Home Page";
}
@*
<body class="bg-image"
      style="background-image: url('https://www.meritalk.com/wp-content/uploads/2016/06/EHR-2.jpg'); background-repeat: repeat;
  background-position: right top; ">
    
</body>

*@

<body class="bg-image" style="background-image: url(https://files.techmahindra.com/static/img/clinical-data-analytics-thumb.jpg); height: 100vh;">
    <header>
        <style>
            @@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap');
        </style>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color:#19A7CE; font-family: 'Roboto', sans-serif; opacity:90%">
            <!-- Container wrapper -->
            <div class="container-fluid w-100">
                <!-- Navbar brand -->
                <a class="navbar-brand me-0" href="https://mdbgo.com/">
                    <h3 class="text-light">HEALTH+</h3>
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5 ">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Doctors</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                        </li>
                    </ul>

                    <!-- Left links -->

                    <div class="d-flex align-items-center">
                        <form asp-action="Signin" asp-controller="Home" method="get">
                            <button type="submit" class="btn btn-link px-3 me-2" style="color:white; text-decoration:none">
                                Sign in
                            </button>
                        </form>
                        <form asp-action="Signup" asp-controller="Home" method="get">
                            <button type="submit" class="btn btn-primary me-3" style="background-color:#146C94">
                                Sign up
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
</body>

